<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Expense</title>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/expense-form.css}" />

</head>
<body>
    <nav class="fixed-top bg-header-color py-4">
        <div class="app-header">
            <div class="d-flex justify-content-between align-items-center">
                <a th:href="@{/expenses}" class="text-wide">
                    <span class="font-size-medium font-weight-bold">
                        Expense Manager
                    </span>
                </a>
                <div>
                    <a th:href="@{/logout}" class="text-wide font-size-small">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-content">
        <div class="container-fluid bg-light py-4 mb-4">
            <div class="app-header">
                <h1 th:text="${expense.id} != null ? 'Update expense' : 'Create new expense'"></h1>
            </div>
        </div>
        <div class="app-header">
            <form th:action="@{/saveorupdateexpense}" th:object="${expense}" method="post" id="expenseForm">
                <input type="text" placeholder="Enter expanse name" th:field="*{name}" class="form-control col12 col-sm-12 col-md-6 input-width mb-3"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                <input type="text" placeholder="Enter expanse amount" th:field="*{amount}" class="form-control col12 col-sm-12 col-md-6 input-width mb-3"/>
                <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>

                <input type="text" th:field="*{dateString}" placeholder="dd/mm/yyy" id="createdAt" class="form-control col12 col-sm-12 col-md-6 input-width mb-3"/>
                <span th:if="${#fields.hasErrors('dateString')}" th:errors="*{dateString}"></span>

                <textarea rows="5" placeholder="Enter expanse description" th:field="*{description}" class="form-control col12 col-sm-12 col-md-6 input-width mb-3"></textarea>

                <button type="submit" class="btn button_default text-white" th:text="${expense.id != null ? 'Update Expense' : 'Save Expense'}"></button>
                <a th:if="${expense.id}" th:href="@{/deleteExpense(id=${expense.expenseId})}" class="btn btn-danger text-white" onclick="return confirm('Confirm deleting expense')"> Delete Expense</a>

                <input type="hidden" th:field="*{expenseId}"/>
                <input type="hidden" th:field="*{id}"/>
            </form>
            <a  th:href="@{/expenses}" class="btn btn-secondary text-white mt-2">Back to all expenses</a>
        </div>
    </div>

    <footer class="py-5 footer">
        <div class="container">
            <p class="m-0 text-center text-dark">
                Copyright &copy; Expense manager - Developed by Antoniomarik (antonio.marik1996@gmail.com)<br>
                <a href="https://github.com/Antoniomarik">Git Repo</a>
            </p>
        </div>
    </footer>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/jquery-validator.js}"></script>
    <script th:src="@{/js/expense-form.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>