<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Expense</title>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
</head>
<body>
    <h1>Create new expense</h1>
    <hr/>
    <a th:href="@{/logout}">Logout</a>
    <form th:action="@{/saveorupdateexpense}" th:object="${expense}" method="post" id="expenseForm">
        <input type="text" placeholder="Enter expanse name"  th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <br/><br/>
        <input type="text" placeholder="Enter expanse amount" th:field="*{amount}"/>
        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
        <br/><br/>
        <input type="text" th:field="*{dateString}" placeholder="dd/mm/yyy" id="createdAt"/>
        <span th:if="${#fields.hasErrors('dateString')}" th:errors="*{dateString}"></span>
        <br/><br/>
        <textarea rows="5" placeholder="Enter expanse description" th:field="*{description}"></textarea>
        <br/><br/>
        <button type="submit">Save</button>

        <input type="hidden" th:field="*{expenseId}"/>
        <input type="hidden" th:field="*{id}"/>
    </form>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/jquery-validator.js}"></script>
    <script th:src="@{/js/expense-form.js}"></script>
</body>
</html>