<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Expense Manager - Register</title>

</head>
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<body>
  <h1>Register</h1>
  <hr/>

  <form th:object="${user}" th:action="@{/register}" method="post">
    <input type="text" placeholder="Enter Username" th:field="*{name}"/>
    <br/><br/>
    <input type="email" placeholder="Enter Email" th:field="*{email}"/>
    <br/><br/>
    <input type="password" placeholder="Enter Password" th:field="*{password}"/>
    <br/><br/>
    <input type="password" placeholder="Confirm Password" th:field="*{confirmpassword}"/>
    <br/><br/>
    <button type="submit">Submit</button>

  </form>
</body>
</html>