<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Woops!</title>
</head>
<body>
<div th:if="${successMsg}">
    <h1>Thank you for registering!</h1>
    <a th:href="@{/login}"> Click here to log in </a>
</div>

  <div th:if="${notFound}">
    <h1>Expense not Available</h1>
    <p th:text="${message}"></p>
    <a th:href="@{/expenses}"> Home </a>
  </div>

  <div th:if="${serverError}">
      <h1>Please contact Adminisrator </h1>
      <p>Something went wrong! Please contact administrator</p>
      <p th:text="${message}"></p>
      <a th:href="@{/expenses}"> Home </a>
  </div>
</body>
</html>